.widgets {
    flex: 0.4 ;
    display: flex;
    position: sticky;
    top: 80px;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 1px solid lightgray;
    background-color: white;
    padding-bottom: 10px;
    
}