.widgets {
    top: 80px;
    flex: 0.4 ;
    display: flex;
    top: 80px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    padding-bottom: 10px;
    
    
    
}

.widget__top {
    padding-left: 10px;
    padding-top: 5px;
}
