.widgets {
    top: 80px;
    display: flex;
    top: 80px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    padding-bottom: 10px;
    max-width: 400px;
    min-width: 325px;animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.widget__top {
    padding-top: 5px;
    background-color:#fff;
    border-radius: 10px 10px 0px 0px;
}

.widget__title {
    padding-left: 10px;
}



